<h1>Welcome to My Travel Site</h1>
<p>What are you doing here! Leave now!</p>

<p> It's time to leave <%= @homeland %>! </p>


<ul>
	<% @countries.each do |country| %>
	<li><%= country %></li>
	<% end %>
</ul>




<% @country_images.each do |picture| %>
<p>
<%= image_tag picture, alt: "some countries... or kittens" %>
</p>
<% end %>


